---
title: "MetaFlow"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: intro-bg-4.jpg
excerpt: "Making your data speak to solve your toughest problems."
feature_row2:
  - image_path: gorilla_matisse.png
    alt: "Artistic style transfer"
    title: "Mobile artistic style transfer"
    excerpt: "Transform your photos into any kind of art, right from your mobile. This project implements the *A Neural Algorithm of Artistic Style* paper with **Tensorflow**, compiled for **iOS**, running from a **React Native** app."
    url: "https://github.com/metaflow-ai/neural_style"
    btn_label: "Discover"
    btn_class: "btn--inverse btn--custom"
blog_post:
  - image_path: https://cdn-images-1.medium.com/max/400/1*hIqzygIhOnxjtlJZhNzSuA.jpeg
    alt: "placeholder image 1"
    title: "10 steps to bootstrap your machine learning project (1)"
    excerpt: "Working on a new machine learning project is always exciting, indeed."
    btn_class: "btn--inverse btn--custom"
    btn_label: "Read More"
    url: "https://blog.metaflow.fr/10-steps-to-bootstrap-your-machine-learning-project-part-1-aa7e1031f5b1?source=metaflow.fr"
  - image_path: https://cdn-images-1.medium.com/max/400/1*t3m6GZFZ_r4gmZb9B4B-aQ@2x.jpeg
    alt: "placeholder image 2"
    title: "Shapes and dynamic dimensions in TensorFlow"
    excerpt: "Here is a simple HowTo to understand the concept of shapes in TensorFlow."
    btn_class: "btn--inverse btn--custom"
    btn_label: "Read More"
    url: "https://blog.metaflow.fr/shapes-and-dynamic-dimensions-in-tensorflow-7b1fe79be363?source=metaflow.fr"
  - image_path: https://cdn-images-1.medium.com/max/400/1*fDK6MfQvcliQ-u5lEmjc8Q.png
    title: "Sparse coding"
    excerpt: "A simple exploration of what are Sparse and Dense coding."
    btn_class: "btn--inverse btn--custom"
    btn_label: "Read More"
    url: "https://blog.metaflow.fr/sparse-coding-a-simple-exploration-152a3c900a7c?source=metaflow.fr"
---


<h2>Projects & Experiments</h2>

{% include feature_row id="feature_row2" type="left" %}

<h2>From the blog</h2>

<div id="blog-post-block">
{% include feature_row id="blog_post" %}
</div>