---
title: "MetaFlow"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: intro-bg-4.jpg
excerpt: "Making your data speak to solve your toughest problems."
feature_row2:
  - image_path: gorilla_matisse.png
    alt: "Artistic style transfer"
    title: "Mobile artistic style transfer"
    excerpt: "Transform your photos into any kind of art, right from your mobile. This project implements the *A Neural Algorithm of Artistic Style* paper with **Tensorflow**, compiled for **iOS**, running from a **React Native** app."
    url: "https://github.com/metaflow-ai/neural_style"
    btn_label: "Discover"
    btn_class: "btn--inverse btn--custom"
  - image_path: bot.jpg
    alt: "Boobabot"
    title: "Boobabot"
    excerpt: "A project implementing a basic LSTM to produce originally french rap lyrics, train it yourself on any kind of corpus!"
    url: "https://github.com/metaflow-ai/boobabot"
    btn_label: "Read More"
    btn_class: "btn--inverse btn--custom"
  - image_path: larvae-detection.png
    alt: "Bees larvae detection"
    title: "Bees larvae detection"
    excerpt: "Detect bees larvae using Deep Learning. This project implements *a Simple Neural Algorithm* with **TensorFlow**"
    url: "https://github.com/metaflow-ai/hive"
    btn_label: "Read More"
    btn_class: "btn--inverse btn--custom"
blog_post:
  - image_path: https://cdn-images-1.medium.com/max/400/1*4901jK6gUOqZVsqCRcEcEg.png
    alt: "placeholder image 1"
    title: "TensorFlow howto: a universal approximator inside a neural net"
    excerpt: "The universal approximator inside a neural net"
    btn_class: "btn--inverse btn--custom"
    btn_label: "Read More"
    url: "https://blog.metaflow.fr/tensorflow-howto-a-universal-approximator-inside-a-neural-net-bb034430b71e#.itrtdfj4k"
  - image_path: https://cdn-images-1.medium.com/max/400/1*t3m6GZFZ_r4gmZb9B4B-aQ@2x.jpeg
    alt: "placeholder image 1"
    title: "TensorFlow: How to freeze a model and serve it with a python API"
    excerpt: "How to build a simple python server (using flask) to serve a model with TF."
    btn_class: "btn--inverse btn--custom"
    btn_label: "Read More"
    url: "https://blog.metaflow.fr/tensorflow-how-to-freeze-a-model-and-serve-it-with-a-python-api-d4f3596b3adc#.7d58b8s7h"
  - image_path: https://cdn-images-1.medium.com/max/400/1*t3m6GZFZ_r4gmZb9B4B-aQ@2x.jpeg
    alt: "placeholder image 2"
    title: "TensorFlow: How to freeze a model and serve it with a python API"
    excerpt: "Here is a simple HowTo to freeze a model and serve it through a python API."
    btn_class: "btn--inverse btn--custom"
    btn_label: "Read More"
    url: "https://blog.metaflow.fr/tensorflow-how-to-freeze-a-model-and-serve-it-with-a-python-api-d4f3596b3adc#.ypetqp2vz"
---


<h2>Projects & Experiments</h2>

{% include feature_row id="feature_row2" type="left" %}

<h2>From the blog</h2>

<div id="blog-post-block">
{% include feature_row id="blog_post" %}
</div>